/*CSS Breakpoints
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/


/*Document styling*/
body{
    scroll-behavior: smooth;

    background-color: white;
    font-family: 'Poppins';

    padding: 0;
    margin: 0;
    height: 100;

    overflow-x: hidden;
}

h1,h2,h3,h4,h6,p,a{
    font-family: Poppins;
}
@media only screen and (max-width: 768px) {
    body h1{
        font-size:  16px;
    }
    body p{
        font-size: 14px;
    }
}


h1{
    font-size: 36px;
}

.topbar-line{
    color: black;
    opacity: 50%;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -20px;
}

hr{
    width: 100px;
    height: 1px;
    color: black;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

/*Navigation Bars*/
.navbar {
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bolder;
}

.nav-links:hover{
    font-weight: bolder;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.red-link {
    color:rgb(255, 0, 0);
}
.red-link:hover{
    color:rgb(255, 78, 78);
}

.navbar-toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.active {
  display: block;
}

.nav-icons{
  display: none;
}

.topbanner{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    padding: 10px 0px 10px 0px;
    height: 30px;
    width: 100%;

    background-color: rgb(34, 34, 34);
    color: white;
    text-transform: uppercase;
}

#hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url("/Assets/Images/contact-hero.jpg");
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    text-align: center;
    color: white;
}

.text-container p{
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

.container{
    padding: 40px 0;
}

.contact-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.get-in-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field{
    width: 400px;
    padding: 18px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

#message{
    height: 150px;
}

.form-message{
    display: none;
}

.form-message-shown{
    display: block;
}

.form-message p{
    font-weight: bolder;
}

.fa-check{
    color: green;
    margin-left: 5px;
}

.store-details h3,
.store-details p{
    margin: 0;
}

.detail{
    margin: 20px 0;
}

.store-details h2{
    font-size: 28px;
    font-weight: 400;
}

.store-details p{
    color: #505050;
    font-size: 18px;
}
 
.store-details i{
    font-size: 14px;
    padding-right: 8px;
}

.form-button{
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    border: 2px solid #000000;

    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-button:hover{
    background-color: black;
    border-color: black;
    color: white;
    transition: .5s; 
}

/*Footer Section*/
.ft-main-item ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: rgb(43, 43, 43);
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
footer a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}
  
form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    border-width: 1px;
    border-color: #fff;

    padding: 10px 20px;
    margin-top: 0.3125rem;

    font-size: 14px;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    background-color: black;
    border-color: black;
    color: white;
}
/* Footer social */
.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;

    list-style-type: none;
}
/* Footer legal */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(43, 43, 43)
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} 
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    list-style-type: none;

    text-transform: uppercase;
    font-size: 14px;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

/*Media Queries*/
@media (min-width: 320px) and (max-width: 479px){
    body h1{
        font-size: 24px;
    }

    .text-container{
        padding: 20px;
    }

    .text-container p{
        font-size: 16px;
        min-width: 100%;
    }

    .container{
        padding: 20px;
    }

    button{
        padding: 12px 24px;
        font-size: 16px;
    }

    .contact-details{
        text-align: center;
        align-self: center;
    }

    .contact-area{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .input-field{
        width: 300px;
    }

    .form-button{
        align-self: center;
    }
}

@media (min-width: 320px) and (max-width: 1023px){
    #hero{
        height: 50vh;
    }

    .contact-details{
        text-align: center;
        align-self: center;
    }

    .contact-area{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .input-field{
        width: 300px;
    }

    .form-button{
        align-self: center;
    }
}

@media (min-width: 1024px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      padding: 0 20px;
    }
    
    .main-nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .main-nav li {
      margin: 0 20px;
    }
    
    .logo {
      margin-left: 20px;
      font-size: 24px;
    }
  
    .navbar-toggle-icon {
       display: none;
    }
    
    .nav-icons {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
    
    .nav-icons a {
      margin-left: 10px;
    }
    
}
  